<footer class="bg-dark text-center text-white">

  <div class="container p-4 pb-0">

    <section class="mb-4 icon-socials">

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>


      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>


      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>


      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>

  </div>

</footer>

<style>


  .bg-gr{
            background: #6a11cb;
            background: linear-gradient(to right, rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.9));

  }

  .bg-gr a{
            color: white;
            font-size: 18px;
            text-decoration: none;
            text-transform: capitalize
  }

  .bg-gr a:hover{
            color: black;
            }

  .icon-socials a{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display:inline-flex;
  justify-content:center;
  align-items:center;

  }


</style>