.bg-gr{
            background: #6a11cb;
            background: linear-gradient(to right, rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.9));

  }

  .bg-gr a{
            color: white;
            font-size: 18px;
            text-decoration: none;
            text-transform: capitalize
  }

  .bg-gr a:hover{
            color: black;
            }

  .icon-socials a{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display:inline-flex;
  justify-content:center;
  align-items:center;

  }