{% extends "base.html" %}
{% block title %} Blogify {%endblock%}
{% block content %}

{%for author in all_author %}
<div style="margin-top: 30px;padding-left:150px;margin-bottom: 20px;">
<div class="card" style="background-color: rgba(0,0,0,0.2); width: 18rem;">
  <img src="{{ author.image.url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><a href='{% url "author_details" author.id  %}'>{{author.name}}</a ></h5>

  </div>
</div>




</div>



{%endfor%}
{%endblock%}